  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* **********************NavBar CSS************************* */
.mainNav{
  /* height: 5vh; */
  min-height: 35px;
  width: 100%;
  /* background-color: #2fd9a0; */
}
.nav_section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav_section div{
  margin-top: 5px;
  /* margin-right: 10px; */
}
.nav_btn{
  font-weight: bold;
  padding : 0px 10px 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
}

/* ********************Home page CSS************************ */
.mainHome{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("Images/Tech_Image2.jpg");
  background-size: cover;
  /* filter: blur(5px); */
  color: white;
}
.subHome{ 
  display: flex;
  flex-direction:row;
  height: 60vh  ;
}
.home_left_section{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 30px;
  margin-left: 100px;
  justify-content: center;
}
.home_para_name p{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 10px;
  color:#FFFF00;
}
.home_right_section{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-top: 70px;
  /* margin-bottom: 100px; */
  flex-direction: row;
  align-items: center;
  width: 50%;
}
.home_right_section div p{
  height: fit-content;
  word-wrap: break-word;
  font-size: 20px;
  letter-spacing: 1px;
  background-color:#061628;
  padding: 20px;
  border: 2px solid white;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

  /* border-left: 10px solid; */
  font-weight: 500;
  color:#65ffb2;
}  
.services{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.services_heading{
  margin-left: 500px;
  width: fit-content;
}
.services_heading p{
  font-size: 25px;
  font-weight: 500;
  border-radius: 10%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #FFFF00;
  margin-bottom: 30px;
  background-color: #061628;
}
.services_content{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.services_content div{
  background-color: #061628;
  margin-left: 20px;
  margin-right: 20px;
  width: 180px;
  
  min-height: 100px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 2px 2px 0px #FFFFFF;
}
.services_content div p{
  font-size: 18px;
  padding: 15px;
}



/* **********Resposive HOME CSS********** */
@media screen and (max-width:900px) and (min-width:600px) {

  .home_left_section{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 30px;
    margin-left: 100px;
    /* justify-content: center; */
  }
  .home_para_name p{
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 10px;
    color:#FFFF00;
  }
  .home_right_section div p{
    min-height: 150px;
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 1px;
    background-color:#061628;
    padding: 20px;
    border: 2px solid white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  
    /* border-left: 10px solid; */
    font-weight: 500;
    color:#65ffb2;
  }  
  .services_content div{
    background-color: #061628;
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    
    min-height: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px 0px #FFFFFF;
  }
  .services_content div p{
    font-size: 10px;
    padding: 15px;
  } 
}

@media screen and (max-width:500px) {
  .nav_section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  .mainHome{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
    /* background-image: url("Images/Tech_Image2.jpg"); */
    background-image: linear-gradient(#000e2e,#0045fa);
    background-size: cover;
    /* filter: blur(5px); */
    color: white;
  }
  .subHome{ 
    display: flex;
    flex-direction:column;
    /* height: fit-content  ; */
  }
  .home_left_section{
    width: 300px;
    max-width: 400px;
    margin-left: 30px;
  }
  .home_para_name{
    max-width:400px;
  }
  .home_para_name p{
    width: 310px;
    max-width: 400px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 10px;
    color:#FFFF00;
  }
  .home_right_section{
    display: block;
    margin-left: 0;
    margin-top: 70px;
    width: 350px;
    max-width: 400px;
  }
  .home_right_section div p{
    height: fit-content;
    word-wrap: break-word;
    font-size: 15px;
    letter-spacing: 1px;
    background-color:#061628;
    padding: 20px;
    border: 2px solid white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-weight: 500;
    color:#65ffb2;
  }
  .home_right_section div{
    max-width: 350px;
    margin-left: 50px;
  }
  .services{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 400px;
    /* height: 100vh; */
    justify-content: center;
    margin-left: 200px;
  }
  .services_heading{
    /* margin-left: 500px; */
    width: fit-content;
    margin-left: 0;
    margin-top: 100px;
    /* margin-right: 200px; */
  }
  .services_heading p{
    font-size: 25px;
    font-weight: 700;
    border-radius: 10%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: #FFFF00;
    /* margin-bottom: 30px; */
    background-color: #061628;
  }
  .services_content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  .services_content div{
    background-color: #061628;
    /* margin-left: 20px;
    margin-right: 20px; */
    width: 200px;
    margin-bottom: 20px;
    min-height: 100px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px 0px #FFFFFF;
  }
  .services_content div p{
    font-size: 18px;
    padding: 15px;
  }
}









/* ************Contact Page CSS****************** */
.main_contact{
  width: 100%;
  height: 100vh; 
  background-image: url(/src/Images/Tech_Image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact_page{
  display: flex;
  margin-right: 200px;
  justify-content: flex-end;
}
.mainContact{
  width: 400px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_heading{
  margin: 50px 0px 50px 0px;
}
.mainForm{
  /* border: 2px solid grey; */
  background-color: #012642;
  max-width: 360px;
  height: 54vh;
  max-height: 80vh;
  border-radius: 20px;
  padding: 10px;
}
.contact_heading p {
  font-size: 40px;  
  font-weight: 700;
  color: yellow;
}
input, textarea{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 340px;
  /* height: 30vh; */
  background-color:#012642;
  color:white;
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
}
textarea{
  min-width: 340px;
  max-width: 340px;
  max-height: 20vh;
  min-height: 25px;
}
.no_outline:focus {
  outline: none;
  background-color:#032c4c;
}
.submit_btn button{
  background-color: rgb(6, 255, 168);
  padding: 6px;
  width: 70px;
  align-self: baseline;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 15px;
  border: none;
  font-weight: 600;
}
.submit_btn button:hover{
  background-color: rgb(98, 233, 139);
  /* color: #f9f9f9; */
}


@media screen and (max-width:500px) {
  .contact_page{
    display: flex;
    margin-right: 0 ;
    justify-content: center;
  }
}